<section class="pb-16">

    <div>
        <owl-carousel-o [options]="mainSliderCustomOptions">
            <ng-template carouselSlide>

                <div>
                    <div>
                        <img src="assets/images/img1.avif" alt="banner img" class="w-full 
                        "> 
                    </div>
                </div>
            </ng-template>   
            <ng-template carouselSlide>

                <div>
                    <div>
                        <img src="assets/images/img2.avif" alt="banner img" class="w-full 
                        "> 
                    </div>
                </div>
            </ng-template>   
            <ng-template carouselSlide>

                <div>
                    <div>
                        <img src="assets/images/img3.avif" alt="banner img" class="w-full 
                        "> 
                    </div>
                </div>
            </ng-template>   
            <ng-template carouselSlide>

                <div>
                    <div>
                        <img src="assets/images/img4.avif" alt="banner img" class="w-full 
                        "> 
                    </div>
                </div>
            </ng-template>   
            <ng-template carouselSlide>

                <div>
                    <div>
                        <img src="assets/images/img5.avif" alt="banner img" class="w-full 
                        "> 
                    </div>
                </div>
            </ng-template>   
          </owl-carousel-o>
    </div>
</section>
